

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: sans-serif;
 }

 .container {
     width: 70%;
     margin: 0 auto;
 }

 .box {
     margin-top: 300px;
 }

 .box p {
     color: blue;
     font-family: sans-serif;
 }

 .box h1 {
     text-align: center;
 }

.rectangle {
    margin-top: 100px;
    width: 200px;
    height: 100px;
    border-bottom: 1px solid #ff0000;
    background-color: #ff0000;
    position: fixed;
    bottom: 20;
    right: 550px;
    
} 